{% extends 'base.html' %}
{% block container %}
    <table id="excel_table" class="table table-sm table-hover">
        <thead class="">
            <th>Line</th>
            <th>Name</th>
            <th>Status</th>
            <th>Total Pieces</th>
            <th>Options</th>
        </thead>
        <tbody>
            {% for workcenter in workcenters %}
                <tr>
                    <td>{{ workcenter.line}}</td>
                    <td>{{ workcenter.name }}</td>
                    <td>{{ workcenter.status }}</td>
                    <td>{{ workcenter.mo__order_qty__sum}}</td>
                    <td>
                        <a href="", class="btn btn-primary"><span class="fas fa-edit"></span> Edit</a>
                        <a href="", class="btn btn-danger"><span class="fas fa-trash-alt"></span> Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{%block scripts%}
    <script>
        $(document).ready(function(){
        
            $('#excel_table thead tr').clone(true).appendTo( '#excel_table thead' );
            $('#excel_table thead tr:eq(1) th').each( function(i) {
                var title = $(this).text();
                $(this).html( '<input class="form-control form-control-sm" type="text" placeholder="Search '+title+'" />' );
                var that = this;
                $('input', this).on('keyup change', function(){
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                }
                });
            });
        
            var table = $('#excel_table').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    scrollX: true,
                    select: true,
                    columnDefs: [{ width: '20%', targets: 0 }],
                    fixedColumns: true,
                });
        });
        
    </script>
{% endblock %}