{% extends 'base.html' %}

{% block container %}
    <div class="table-responsive bg-white p-3 rounded shadow">
        <table id="excel-table" class="table table-hover table-sm">
            <thead class="text-center">
                <tr>
                    <th>Number</th>
                    <th>Sku</th>
                    <th>Status</th>
                    <th>Finish Date</th>
                    <th>Order Qty</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for mo in mos %}
                    <tr>
                        <td>{{ mo.number }}</td>
                        <td>{{ mo.sku_id }}</td>
                        <td>{{ mo.status }}</td>
                        <td>{{ mo.finish_date }}</td>
                        <td>{{ mo.order_qty }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}