{% extends 'base.html' %}

{% block container %}
   <div class="table-responsive bg-white p-3 rounded shadow">
        <table id="excel-table" class="table table-hover table-sm">
            <thead>
                <tr class="text-center">
                    <th>WorkCenter</th>
                    <th>Finish date</th>
                    <th>Schedule</th>
                    <th>Pieces</th>
                    <th>Project</th>
                    <th>Comments</th>
                    <th>MRR</th>
                    <th>Optiplan</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    <tr class="text-center">
                        <td class="align-middle">{{schedule.name}}</td>
                        <td class="align-middle">{{schedule.finish_date }}</td>
                        <td class="align-middle font-weight-bold">{{schedule.number}}</td>
                        <td class="align-middle">{{schedule.total_schedule}}</td>
                        <td class="align-middle">{{schedule.project}}</td>
                        {% if schedule.comments == None %}
                            <td></td>
                        {% else %}
                            <td class="align-middle">{{schedule.comments}}</td>
                        {% endif %}
                        <td>
                            <a href="{% url 'update_mrr_date' schedule.id %}" class="btn btn-success btn-sm"><span class="{% if schedule.mrr_date %} fas fa-check {% else %} fas fa-file {% endif %}"></span></a>
                        </td>
                        <td>
                            <a href="{% url 'update_optiplan_date' schedule.id %}" class="btn btn-info btn-sm"><span class="{% if schedule.optiplan_date %} fas fa-check {% else %} fas fa-cut {% endif%}"></a>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'detalle_schedule_list' schedule.id %}" class="btn btn-secondary btn-sm"><span class="fas fa-info-circle"></span></a> 
                            <a href="{% url 'update_planning_log_comments' schedule.id %}" class="btn btn-primary btn-sm"><span class="fas fa-edit"></span></a>
                            <a href="{% url 'confirm_schedule_delete' schedule.id %}" class="btn btn-danger btn-sm"><span class="far fa-trash-alt"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>WorkCenter</th>
                    <th>Finish date</th>
                    <th>Schedule</th>
                    <th>Pieces</th>
                    <th>Project</th>
                    <th>Comments</th>
                    <th></th>
                    <th></th>
                    <th>Options</th>
                </tr>
            </tfoot>
        </table>
   </div>
{% endblock %}
{%block scripts%}
{% endblock %}