{% extends 'base.html' %}

{% block container %}
    <h1 class="col-12">Fabric Shortage</h1>
    <a href="{% url 'fabric_shortage_new' %}" class="btn btn-primary">New</a>
    <table id="excel_table" class="table table-sm table-hover">
        <thead class="thead-dark">
            <th>Workcenter</th>
            <th>Sku</th>
            <th>Fabric</th>
            <th>Pieces Issue</th>
            <th>Pieces Short</th>
            <th>Comments</th>
            <th>Options</th>
        </thead>
        <tbody>
            {% for fabric in fabric_shortage%}
                <tr>
                    <td>{{fabric.workcenter}}</td>
                    <td>{{fabric.sku}}</td>
                    <td>{{fabric.no_fabric}}</td>
                    <td>{{fabric.pcs_to_issue}}</td>
                    <td>{{fabric.pcs_short}}</td>
                    <td>{{fabric.comments}}</td>
                    <td>
                        <a href="{% url 'fabric_shortage_update' fabric.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'fabric_shortage_delete' fabric.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}
{%block scripts%}
    <script>
        $(document).ready(function(){
        
            $('#excel_table thead tr').clone(true).appendTo( '#excel_table thead' );
            $('#excel_table thead tr:eq(1) th').each( function(i) {
                var title = $(this).text();
                $(this).html( '<input class="form-control form-control-sm" type="text" placeholder="Search '+title+'" />' );
                var that = this;
                $('input', this).on('keyup change', function(){
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                }
                });
            });
        
            var table = $('#excel_table').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    scrollX: true,
                    select: true,
                    columnDefs: [{ width: '20%', targets: 0 }],
                    fixedColumns: true,
                });
        });
        
    </script>
{% endblock %}